## ANOVA test

In [15]:
a= [2,3,7,2,6]
b=[10,8,7,5,10]
c=[10,13,14,13,15]

In [16]:
import numpy as np

In [17]:
mean_a= np.mean(a)
mean_a

4.0

In [18]:
mean_b= np.mean(b)
mean_b

8.0

In [19]:
mean_c=np.mean(c)
mean_c

13.0

In [20]:
var_a= sum((a-mean_a)**2)

In [21]:
var_a

22.0

In [22]:
var_b= sum((b-mean_b)**2)
var_b

18.0

In [23]:
var_c=sum((c-mean_c)**2)
var_c

14.0

In [24]:
var_within_groups= var_a+var_b+var_c

In [25]:
var_within_groups

54.0

In [26]:
a=[1,2,3,4,5]

In [27]:
a_m=np.mean(a)
a_m

3.0

In [28]:
sum((a-a_m)**2)

10.0

In [29]:
Overall_mean= (mean_a+mean_b+mean_c)/3
Overall_mean

8.333333333333334

In [30]:
Var_bet_groups= (5*((Overall_mean-mean_a)**2)) +  (5*((Overall_mean-mean_b)**2)) +  (5*((Overall_mean-mean_c)**2))
Var_bet_groups

203.33333333333331

In [31]:
Total_data= [2,3,7,2,6,10,8,7,5,10,10,13,14,13,15]
mean_Total_data= np.mean(Total_data)
mean_Total_data

8.333333333333334

In [32]:
Total_var= sum((Total_data-mean_Total_data)**2)

In [33]:
Total_var

257.33333333333337

In [34]:
Var_bet_groups+var_within_groups

257.3333333333333

In [35]:
## Fstats= (variance_bet_group/df1)/(variance_within_group/df2)
df1=2
df2=12

In [36]:
F_stats= (Var_bet_groups/df1)/(var_within_groups/df2)
F_stats

22.59259259259259

In [37]:
import scipy.stats as stats

In [38]:
F_critcial=stats.f.ppf(1-0.05,dfn=2,dfd=12)
F_critcial

3.8852938346523933

In [39]:
stats.f_oneway(a,b,c)

F_onewayResult(statistic=35.714285714285715, pvalue=8.855205286250615e-06)

In [40]:
import pandas as pd
df=pd.read_csv('Plant_growth.csv')

In [41]:
df.head()

   weight treatment_type
0    4.17           ctrl
1    5.58           ctrl
2    5.18           ctrl
3    6.11           ctrl
4    4.50           ctrl

In [42]:
df.shape

(30, 2)

In [43]:
df.treatment_type.value_counts()

treatment_type
ctrl    10
trt1    10
trt2    10
Name: count, dtype: int64

In [44]:
ctrl= df[df.treatment_type=='ctrl']['weight']

In [45]:
ctrl

0    4.17
1    5.58
2    5.18
3    6.11
4    4.50
5    4.61
6    5.17
7    4.53
8    5.33
9    5.14
Name: weight, dtype: float64

In [46]:
trt1= df[df.treatment_type=='trt1']['weight']
trt1

10    4.81
11    4.17
12    4.41
13    3.59
14    5.87
15    3.83
16    6.03
17    4.89
18    4.32
19    4.69
Name: weight, dtype: float64

In [47]:
trt2= df[df.treatment_type=='trt2']['weight']
trt2

20    6.31
21    5.12
22    5.54
23    5.50
24    5.37
25    5.29
26    4.92
27    6.15
28    5.80
29    5.26
Name: weight, dtype: float64

In [48]:
stats.f_oneway(ctrl,trt1,trt2)

F_onewayResult(statistic=4.846087862380136, pvalue=0.0159099583256229)

In [49]:
f_critical=stats.f.ppf(1-0.05,2,27)
f_critical

3.3541308285291986

## Chisquare test

In [50]:
Expected=[100,100,100,100,100,100]
Observed=[120,80,125,75,50,150]

In [51]:
stats.chisquare(Expected,Observed)

Power_divergenceResult(statistic=88.33333333333334, pvalue=1.5042863010217665e-17)

In [69]:
stats.chi2.ppf(1-0.05,5)

11.070497693516351

In [52]:
df= pd.read_csv('Voting_pattern.csv')

In [53]:
df.head()

       RACE PARTY
0     WHITE   PQR
1     WHITE   PQR
2     WHITE   ABC
3  HISPANIC   ABC
4     ASIAN   ABC

In [54]:
df.RACE.value_counts()

RACE
WHITE               534
HISPANIC            236
African American    151
ASIAN                42
OTHER                37
Name: count, dtype: int64

In [55]:
df.PARTY.value_counts()

PARTY
PQR    404
ABC    403
XYZ    193
Name: count, dtype: int64

In [68]:
df_new=pd.crosstab(index=df['RACE'],columns=df['PARTY'])
df_new

PARTY             ABC  PQR  XYZ
RACE
ASIAN              19   15    8
African American   60   59   32
HISPANIC          105   86   45
OTHER              12   17    8
WHITE             207  227  100

In [65]:
151*403/1000

60.853

In [66]:
37*404/1000

14.948

In [67]:
stats.chi2_contingency(df_new)

Chi2ContingencyResult(statistic=4.737839473077469, pvalue=0.7851934085104637, dof=8, expected_freq=array([[ 16.926,  16.968,   8.106],
       [ 60.853,  61.004,  29.143],
       [ 95.108,  95.344,  45.548],
       [ 14.911,  14.948,   7.141],
       [215.202, 215.736, 103.062]]))

In [70]:
stats.chi2.ppf(1-0.05,8)

15.50731305586545

In [72]:
stats.norm.ppf(0.4,loc=50,scale=20)

44.933057937284005

In [73]:
stats.norm.cdf(44.9,loc=50,scale=20)

0.39936154961561743