In [5]:
import pandas as pd
df1= pd.read_csv(r"C:\Users\aparn\Desktop\Python_excelR_DS courses\Dec15_batch\Housing_data.csv")

In [6]:
df1.head()

   Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0  16858        1629        1.0         3     0.76  180          0
1  26049        1344        2.0         3     0.92   13          0
2  26130         822        1.0         2     0.56  173          0
3  31113        1540        1.0         2     0.04  115          0
4  40932        1320        1.0         3     0.17   90          0

In [8]:
df1.shape

(1047, 7)

In [13]:
df1.columns

Index(['Price', 'LivingArea', 'Bathrooms', 'Bedrooms', 'LotSize', 'Age',
       'Fireplace'],
      dtype='object')