## Dictionaries

In [1]:
dict1= {'name':'ajay'}

In [50]:
add(5)

25

In [2]:
type(dict1)

dict

In [3]:
isinstance(dict1,dict)

True

In [4]:
dict1['name']=['ajay','sanjay','ravi','sam']

In [5]:
dict1['age']=[30,40,25,35]

In [6]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'], 'age': [30, 40, 25, 35]}

In [7]:
dict1['location']=['mumbai','chennai','bengaluru','calcutta']

In [84]:
dict1.

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [8]:
dict1.keys()

dict_keys(['name', 'age', 'location'])

In [9]:
dict1.values()

dict_values([['ajay', 'sanjay', 'ravi', 'sam'], [30, 40, 25, 35], ['mumbai', 'chennai', 'bengaluru', 'calcutta']])

In [10]:
dict1.get('name')

['ajay', 'sanjay', 'ravi', 'sam']

In [12]:
dict1['name'][2]

'ravi'

In [13]:
dict2= dict1.copy()

In [14]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [15]:
dict1['gender']=['male','male','male','male']

In [16]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta'],
 'gender': ['male', 'male', 'male', 'male']}

In [94]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [17]:
dict2.update(dict1)

In [18]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta'],
 'gender': ['male', 'male', 'male', 'male']}

In [20]:
dict1.pop('gender')

['male', 'male', 'male', 'male']

In [21]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [22]:
dict1.popitem()

('location', ['mumbai', 'chennai', 'bengaluru', 'calcutta'])

In [23]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'], 'age': [30, 40, 25, 35]}

In [25]:
dict1['name'][0][0]

'a'

In [26]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'], 'age': [30, 40, 25, 35]}

In [28]:
dict1['gender']=['male']

In [29]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'gender': ['male']}

## Defaultdictionary

In [30]:
from collections import defaultdict

In [32]:
dict3= defaultdict(list)

In [35]:
dict3['names']=['ajay']

In [36]:
dict3

defaultdict(list, {'names': ['ajay']})

## Looping

## for

In [37]:
range(1,10)

range(1, 10)

In [38]:
print(range(1,10))

range(1, 10)

In [40]:
a=[1,2,3,4,5]

In [44]:
for i in a:
    print(i)

1
2
3
4
5

In [46]:
for i in range(0,12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [47]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [48]:
a

[1, 2, 3, 4, 5]

In [50]:
for i in range(len(a)):
    print(i,a[i])

0 1
1 2
2 3
3 4
4 5

In [51]:
range(len(a))

range(0, 5)

In [52]:
for i in enumerate(a):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [53]:
a

[1, 2, 3, 4, 5]

In [54]:
b=[10,20,30,40]

In [55]:
for (i,j) in zip(a,b):
    print(i,j)

1 10
2 20
3 30
4 40

In [79]:
list2=[1,2,3,4]

In [81]:
[i*i for i in list2]

[1, 4, 9, 16]

In [58]:
list1=['1','2','3']

In [59]:
type(list1)

list

In [60]:
type(list1[0])

str

In [61]:
list1= [int(i) for i in list1]

In [62]:
list1

[1, 2, 3]

## while

In [66]:
sum=0
i=0
n=5
while(i<n):
    sum= sum+i
    print(sum)
    i= i+1
print('The Total sum:',sum)

0
1
3
6
10
The Total sum: 10

In [67]:
counter=0
while(counter<10):
    print('counter is in loop')
    counter= counter+1
else:
    print('counter is out of loop')

counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is out of loop

In [91]:
str1= 'sanjay','ajay','sam'
dict1= defaultdict(list)

In [92]:
for i in str1:
    dict1[i[2]].append(i)

In [93]:
dict1

defaultdict(list, {'n': ['sanjay'], 'a': ['ajay'], 'm': ['sam']})

In [74]:
dict2={}

## Conditions

In [100]:
x=10
if x>10:
    x=x-2
    print(x)
elif x<10:
    x=x+2
    print(x)
else:
    print(x)

10

In [102]:
x=9
if x%2==0:
    print('even')
else:
    print('odd')

odd

In [103]:
a

[1, 2, 3, 4, 5]

In [104]:
for i in a:
    if i%2==0:
        print('even')
    else:
        print('odd')

odd
even
odd
even
odd

## input functions

In [2]:
name=input('Enter the Name')
print('The Entered name is:',name)

Enter the Namesamuel
The Entered name is: samuel

In [3]:
var= input('Enter the number')
print(var)

Enter the number22
22

In [4]:
type(var)

str

In [7]:
num1= int(input('Enter the first number:'))
num2= int(input('Enter the second number:'))
sum= num1 + num2
print('The total sum is:',sum)

Enter the first number:44
Enter the second number:66
The total sum is: 110

In [6]:
type(num1)

int

In [8]:
num1= float(input('Enter the first number:'))
num2= float(input('Enter the second number:'))
sum= num1 + num2
print('The total sum is:',sum)

Enter the first number:22.45
Enter the second number:33.89
The total sum is: 56.34

In [9]:
import math

In [11]:
radius= float(input('Enter the radius:'))
Area= math.pi*radius**2
print('The Area of the circle is',round(Area,3))

Enter the radius:22.5
The Area of the circle is 1590.431

In [16]:
## Task1

In [21]:
ch= input('Enter the character')
if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
    print('The Entered character is vowel:',ch)
elif ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U':
     print('The Entered character is vowel:',ch)
else:
    print('The Entered character is not a vowel:',ch)

Enter the charactera
The Entered character is vowel: a

In [19]:
## Task2

In [24]:
list1=[]
count= int(input('Enter the No of Datas:'))
for i in range(0,count):
    var= int(input('Enter the datas:'))
    list1.append(var)
print(list1)

Enter the No of Datas:10
Enter the datas:1
Enter the datas:2
Enter the datas:3
Enter the datas:4
Enter the datas:5
Enter the datas:6
Enter the datas:7
Enter the datas:8
Enter the datas:9
Enter the datas:10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
values=['ajay','sanjay','ramesh']

In [34]:
dict1=dict(values=values)

In [35]:
dict1

{'values': ['ajay', 'sanjay', 'ramesh']}

In [36]:
type(dict1)

dict

## Functions

In [48]:
def addit(x):
    return x**2

In [49]:
addit(8)

64

In [46]:
def add(x):
    x=x**2
    print(x)

In [47]:
add(5)

25

In [51]:
def func(x,y):
    return x*y

In [54]:
func(3,4)

12

In [57]:
def func(x=0,y=0):
    return x+y

In [58]:
func(3)

3

In [65]:
def fact(x):
    if x==1:
        return 1
    elif x==0:
        return 1
    else:
        return fact(x-1)*x

In [67]:
fact(0)

1

In [76]:
list1=[1,2,'a',4,'b',5,6,7,'t',22.5,33.7]

In [77]:
def seperate(x,y):
    return [i for i in x if isinstance(i,y)]
int_numbers= seperate(list1,int)  ## function call
strings= seperate(list1,str)      ## function call
float_numbers= seperate(list1,float)  ## function call
print(int_numbers,strings,float_numbers)

[1, 2, 4, 5, 6, 7] ['a', 'b', 't'] [22.5, 33.7]

## lambda function

In [82]:
addition= lambda x:x**2

In [83]:
addition(4)

16

In [84]:
func= lambda x,y: x if x>y else y

In [85]:
func(2,3)

3

In [86]:
func= lambda x:'even' if x%2==0 else 'odd'

In [87]:
func(10)

'even'

In [88]:
import math

In [89]:
fact= lambda x:1 if x==1 else math.factorial(x)

In [93]:
fact(5)

120

In [94]:
a=[1,2,3,4,5,6,7,8,9,10]

In [95]:
func= lambda x:['even' if x%2==0 else 'odd' for x in a]

In [96]:
func(a)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']