## Dictionaries

In [1]:
dict1= {'name':'ajay'}

In [2]:
type(dict1)

dict

In [3]:
isinstance(dict1,dict)

True

In [4]:
dict1['name']=['ajay','sanjay','ravi','sam']

In [5]:
dict1['age']=[30,40,25,35]

In [6]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'], 'age': [30, 40, 25, 35]}

In [7]:
dict1['location']=['mumbai','chennai','bengaluru','calcutta']

In [84]:
dict1.

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [8]:
dict1.keys()

dict_keys(['name', 'age', 'location'])

In [9]:
dict1.values()

dict_values([['ajay', 'sanjay', 'ravi', 'sam'], [30, 40, 25, 35], ['mumbai', 'chennai', 'bengaluru', 'calcutta']])

In [10]:
dict1.get('name')

['ajay', 'sanjay', 'ravi', 'sam']

In [12]:
dict1['name'][2]

'ravi'

In [13]:
dict2= dict1.copy()

In [14]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [15]:
dict1['gender']=['male','male','male','male']

In [16]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta'],
 'gender': ['male', 'male', 'male', 'male']}

In [94]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [17]:
dict2.update(dict1)

In [18]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta'],
 'gender': ['male', 'male', 'male', 'male']}

In [20]:
dict1.pop('gender')

['male', 'male', 'male', 'male']

In [21]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'location': ['mumbai', 'chennai', 'bengaluru', 'calcutta']}

In [22]:
dict1.popitem()

('location', ['mumbai', 'chennai', 'bengaluru', 'calcutta'])

In [23]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'], 'age': [30, 40, 25, 35]}

In [25]:
dict1['name'][0][0]

'a'

In [26]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'], 'age': [30, 40, 25, 35]}

In [28]:
dict1['gender']=['male']

In [29]:
dict1

{'name': ['ajay', 'sanjay', 'ravi', 'sam'],
 'age': [30, 40, 25, 35],
 'gender': ['male']}

## Defaultdictionary

In [30]:
from collections import defaultdict

In [32]:
dict3= defaultdict(list)

In [35]:
dict3['names']=['ajay']

In [36]:
dict3

defaultdict(list, {'names': ['ajay']})

## Looping

## for

In [37]:
range(1,10)

range(1, 10)

In [38]:
print(range(1,10))

range(1, 10)

In [40]:
a=[1,2,3,4,5]

In [44]:
for i in a:
    print(i)

1
2
3
4
5

In [46]:
for i in range(0,12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [47]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [48]:
a

[1, 2, 3, 4, 5]

In [50]:
for i in range(len(a)):
    print(i,a[i])

0 1
1 2
2 3
3 4
4 5

In [51]:
range(len(a))

range(0, 5)

In [52]:
for i in enumerate(a):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [53]:
a

[1, 2, 3, 4, 5]

In [54]:
b=[10,20,30,40]

In [55]:
for (i,j) in zip(a,b):
    print(i,j)

1 10
2 20
3 30
4 40

In [56]:
a

[1, 2, 3, 4, 5]

In [57]:
[i*i for i in a]

[1, 4, 9, 16, 25]

In [58]:
list1=['1','2','3']

In [59]:
type(list1)

list

In [60]:
type(list1[0])

str

In [61]:
list1= [int(i) for i in list1]

In [62]:
list1

[1, 2, 3]

## while

In [66]:
sum=0
i=0
n=5
while(i<n):
    sum= sum+i
    print(sum)
    i= i+1
print('The Total sum:',sum)

0
1
3
6
10
The Total sum: 10

In [67]:
counter=0
while(counter<10):
    print('counter is in loop')
    counter= counter+1
else:
    print('counter is out of loop')

counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is out of loop

In [91]:
str1= 'sanjay','ajay','sam'
dict1= defaultdict(list)

In [92]:
for i in str1:
    dict1[i[2]].append(i)

In [93]:
dict1

defaultdict(list, {'n': ['sanjay'], 'a': ['ajay'], 'm': ['sam']})

In [74]:
dict2={}

## Conditions

In [100]:
x=10
if x>10:
    x=x-2
    print(x)
elif x<10:
    x=x+2
    print(x)
else:
    print(x)

10

In [102]:
x=9
if x%2==0:
    print('even')
else:
    print('odd')

odd

In [103]:
a

[1, 2, 3, 4, 5]

In [104]:
for i in a:
    if i%2==0:
        print('even')
    else:
        print('odd')

odd
even
odd
even
odd

## input functions

In [2]:
name=input('Enter the Name')
print('The Entered name is:',name)

Enter the Namesamuel
The Entered name is: samuel

In [3]:
var= input('Enter the number')
print(var)

Enter the number22
22

In [4]:
type(var)

str

In [7]:
num1= int(input('Enter the first number:'))
num2= int(input('Enter the second number:'))
sum= num1 + num2
print('The total sum is:',sum)

Enter the first number:44
Enter the second number:66
The total sum is: 110

In [6]:
type(num1)

int

In [8]:
num1= float(input('Enter the first number:'))
num2= float(input('Enter the second number:'))
sum= num1 + num2
print('The total sum is:',sum)

Enter the first number:22.45
Enter the second number:33.89
The total sum is: 56.34

In [9]:
import math

In [11]:
radius= float(input('Enter the radius:'))
Area= math.pi*radius**2
print('The Area of the circle is',round(Area,3))

Enter the radius:22.5
The Area of the circle is 1590.431