In [67]:
import scipy.stats as stats
import math
import numpy as np

## t-independent test (2 tail)

A statistics teacher wants to compare his two classes to see if they performed any differently on the tests he gave that semester. Class A had 25 students with  an average score of 70, standard deviation 15. Class B had 20 students with an average score of 74 , standard deviation 25. Using alpha 0.05 did these two classes perform differently on the tests?.

In [12]:
# sample1: n1=25,x1bar=70, s1=15
# sample2: n2=20,x2bar-74,s2=25
# alpha=0.05, CI=0.95
n1,n2=25,20
df1=n1-1
df2=n2-1
total_df=df1+df2
total_df
s1=15
s2=25
x1_bar=70
x2_bar=74

In [25]:
total_df

43

In [20]:
Sp= ((df1*(s1**2)) + (df2*(s2**2)))/total_df
Sp

401.74418604651163

In [21]:
t_stats= (x1_bar-x2_bar)/math.sqrt(((Sp**2)/n1) +((Sp**2)/n2) )

In [22]:
t_stats

-0.0331886155330439

In [23]:
## t-critical

In [28]:
stats.t.ppf(1-0.05/2,43)

2.0166921941428133

In [54]:
sample1= stats.norm.rvs(size=25,loc=70,scale=15)

In [55]:
sample1

array([59.74523812, 50.23078719, 44.46880501, 78.12324848, 53.43165226,
       45.16661294, 75.04111998, 69.72976406, 88.56583198, 56.37298134,
       39.60240911, 67.49532066, 79.66813337, 48.26065273, 57.67543087,
       53.30708663, 71.87698762, 51.36296623, 41.52786547, 61.40691222,
       74.43207911, 56.15716435, 53.56017629, 71.2771172 , 55.64651815])

In [56]:
sample2= stats.norm.rvs(size=20,loc=74,scale=25)
sample2

array([ 63.04071929,  91.97383696,  55.12827807,  93.43267791,
       102.43794669,  80.25639073,  38.05439622,  96.21259528,
        60.08401604,  35.49486265,  76.22899192,  43.61521506,
       101.81389528,  78.51743153,  77.90873605, 119.76708957,
        85.15124493,  69.48914537,  60.55478472,  49.1791097 ])

In [57]:
stats.ttest_ind(sample1,sample2,equal_var=False)

TtestResult(statistic=-2.3645275199937776, pvalue=0.02511938795706912, df=28.382263752069928)

## Task

          The average age of marriage is 25 for women and 27 for men in the US. If the standard deviation of women is 4 years, what is the probability that a random selection of 32 women have an average age at marriage between 26 to27?

In [58]:
s=4/math.sqrt(32)
s

0.7071067811865475

In [64]:
p1=stats.norm.cdf(26,loc=25,scale=s)
p1

0.9213503964748575

In [60]:
p2=stats.norm.cdf(27,loc=25,scale=s)
p2

0.9976611325094764

In [61]:
p2-p1

0.07631073603461891

## Paired t test


 A study has conducted to determine the effectiveness of a weight base program. The table below shows the before and after weights of 10 subject in the program. A) Is the program effective for reducing weight? B) (use a 5% significant level) construct a 95% confidence interval and determine the margin of error.

S.NO Before	After
1	185	169
2	192	187
3	206	193
4	177	176
5	225	194
6	168	171
7	256	228
8	239	217
9	199	204
10	218	195

In [65]:
Before= [185,192,206,177,225,168,256,239,199,218]
After= [169,187,193,176,194,171,228,217,204,195]

In [66]:
diff=[]
for i in range(len(After)):
    diff.append(After[i]-Before[i])
diff

[-16, -5, -13, -1, -31, 3, -28, -22, 5, -23]

In [74]:
mean_diff= np.mean(diff)
mean_diff
diff

[-16, -5, -13, -1, -31, 3, -28, -22, 5, -23]

In [69]:
mean_diff

-13.1

In [75]:
std_dev_diff= math.sqrt((sum((diff-mean_diff)**2))/9)

In [76]:
std_dev_diff

13.02518927139086

In [77]:
tstats= mean_diff/(std_dev_diff/math.sqrt(10))

In [78]:
tstats

-3.180440336417639

In [79]:
tcritical=-2.262

In [85]:
stats.t.ppf(1-0.05/2,9)

2.2621571627409915

In [80]:
import pandas as pd

In [83]:
df= pd.DataFrame(Before,columns=['Before'])
df['After']=After
df

   Before  After
0     185    169
1     192    187
2     206    193
3     177    176
4     225    194
5     168    171
6     256    228
7     239    217
8     199    204
9     218    195

In [84]:
stats.ttest_rel(df['After'],df['Before'])

TtestResult(statistic=-3.180440336417639, pvalue=0.011176870661470717, df=9)